@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.ruler {
  color: orangered;
}

.navbar {
  height: 75px;
  width: 100%;
  background-color: #101010;
  border-bottom: 1px solid orangered;
  box-shadow: 0 0 10px #000;
}
.navbar .logo {
  width: 100px;
  height: 60px;
}

.navbar-nav {
  margin-right: 5%;
}
.navbar-nav a {
  color: #fff;
  font-weight: 600;
}
.navbar-nav a:hover {
  color: rgb(241, 107, 30);
  text-decoration: underline;
}

* {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #000;
}

.carousel {
  width: 100%;
  height: 600px;
}
.carousel .carousel-inner {
  width: 100%;
  height: 600px;
}
.carousel .carousel-inner .carousel-item .carousel-img {
  width: 100%;
}

.row-title .title {
  height: 200px;
}
.row-title .title .index-title {
  color: orangered;
}
.row-title .title .index-paragraph {
  color: #fff;
  font-size: 1.1em;
  margin: 30px;
}

.row-cards {
  height: 500px;
  width: 100%;
}
.row-cards .card {
  height: 450px;
  width: 90%;
  background-color: rgb(241, 107, 30);
}
.row-cards .card .card-img-top {
  height: 300px;
}
.row-cards .card .card-body .card-title {
  font-size: 1.1em;
  font-weight: 600;
}
.row-cards .card .card-body .card-text {
  color: #000;
}

.button-shop {
  width: 100%;
  height: 100px;
}
.button-shop .btn-shop {
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  background-color: orangered;
  color: #000;
  font-weight: 600;
}
.button-shop .btn-shop:hover {
  background-color: rgb(241, 107, 30);
  color: #fff;
}
.button-shop .btn-shop:active {
  transform: scale(0.9);
}

.row-footer {
  height: 100px;
}
.row-footer .footer {
  height: 100px;
}
.row-footer .footer ul {
  list-style-type: none;
}
.row-footer .footer ul li {
  color: #fff;
  font-weight: 600;
  font-size: 0.8em;
}

.footer-rrss {
  width: 100%;
  height: 70px;
}
.footer-rrss ul a {
  text-decoration: none;
}
.footer-rrss ul a img {
  height: 40px;
  background-color: rgb(241, 107, 30);
  border-radius: 5px;
}
.footer-rrss ul a p {
  font-size: 0.8em;
  text-decoration: none;
  color: #fff;
  margin: 10px 0;
}
.footer-rrss ul a p:hover {
  color: orangered;
  text-decoration: underline;
}

.promo-header {
  width: 100%;
  height: 300px;
  background-image: url(../img/headers/sanguche_header.jpg);
}
.promo-header .col-12 h1 {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  color: rgb(241, 107, 30);
}

.promo {
  width: 80%;
  height: 300px;
  background-color: rgb(241, 107, 30);
  border-radius: 10px;
  margin: 0 auto;
  border-left: 10px solid orangered;
}
.promo .col-12 .img-promo {
  width: 400px;
  height: 225px;
  border-radius: 5px;
}

.promo-price {
  color: #fff;
  font-style: italic;
  font-weight: bold;
  background-color: orangered;
  border-radius: 0 0 5px 5px;
}

.promo-disclaim {
  color: #fff;
  font-size: 0.8em;
}

.row-header {
  width: 100%;
  height: 400px;
}
.row-header .col-12 img {
  height: 350px;
  width: 100%;
  object-fit: fill;
}

.row-header-form {
  height: 700px;
  width: 100%;
}
.row-header-form .col-12 {
  width: 100%;
  height: 700px;
}
.row-header-form .col-12 h1 {
  color: #000;
  background-color: rgb(241, 107, 30);
  border-radius: 5px;
  margin: 50px;
  width: 100%;
}
.row-header-form .col-12 form {
  background-color: rgb(241, 107, 30);
  width: 30%;
  padding: 20px;
  border-radius: 10px 40px;
}
.row-header-form .col-12 form label {
  color: #fff;
  margin: 10px 0;
  font-size: 1.1em;
}
.row-header-form .col-12 form textarea {
  resize: none;
  border-radius: 5px;
  border: none;
  outline: none;
}
.row-header-form .col-12 form textarea:focus {
  border-bottom: 4px solid rgb(202, 91, 0);
}
.row-header-form .col-12 form input {
  border-radius: 5px;
  border: none;
  outline: none;
}
.row-header-form .col-12 form input:focus {
  border-bottom: 4px solid rgb(202, 91, 0);
}
.row-header-form .col-12 form .form-btn {
  margin: 30px;
  border: none;
  background-color: orangered;
  border-radius: 5px;
  font-weight: bold;
}
.row-header-form .col-12 form .form-btn:hover {
  background-color: rgb(202, 91, 0);
  color: #fff;
}
.row-header-form .col-12 form .form-btn:active {
  transform: scale(0.9);
}

/*# sourceMappingURL=main.css.map */
