body{
    background-color: #000;
}

.container{
    background-color: $backColor;
}

.carousel{
    width: 100%;
    height: 600px;
    .carousel-inner{
        width: 100%;
        height: 600px;
        .carousel-item{
            .carousel-img{
                width: 100%;
            }
        }
    }
}

.title{
    height: 200px;
    width: 100%;
    .index-title{
        color: $keyColor;
    }
    .index-paragraph{
        color: $mainFontColor;
        font-size: $textLg;
        margin: 30px;
    }
}