body{
    background-color: #000;
}

.carousel{
    width: 100%;
    height: 600px;
    .carousel-inner{
        width: 100%;
        height: 600px;
        .carousel-item{
            .carousel-img{
                width: 100%;
            }
        }
    }
}

.title{
    height: 200px;
    width: 100%;
    .index-title{
        color: $keyColor;
    }
    .index-paragraph{
        color: $mainFontColor;
        font-size: $textLg;
        margin: 30px;
    }
}

.cards{
    height: 500px;
    width: 100%;
    .card{
        height: 450px;
        width: 90%;
        background-color: $mainColor;
        .card-img-top{
            height: 300px;
        }
        .card-body{
            .card-title{
                font-size: $textLg;
                font-weight: $fontBold;
            }
            .card-text{
                color: $secondColor;
            }
        }
    }
}

.button-shop{
    width: 100%;
    height: 100px;
    .col-12{
        .btn-shop{
            border: none;
            border-radius: 5px;
            padding: 10px 30px;
            background-color: $keyColor;
            color: #000;
            font-weight: $fontBold;
            &:hover{
                background-color: $mainColor;
                color: $mainFontColor;
            }
            &:active{
                transform: scale(.9);
            }
        }
    }
}


.footer{
    width: 100%;
    height: 100px;
    ul{
        list-style-type: none;
        li{
            color: $mainFontColor;
            font-weight: $fontBold;
            font-size: $textSm;
        }
    }
}

.footer-rrss{
    width: 100%;
    height: 70px;
    ul{
        a{
            text-decoration: none;
            img{
                height: 40px;
                background-color: $mainColor;
                border-radius: 5px;
            }
            p{
                font-size: $textSm;
                text-decoration: none;
                color: $mainFontColor;
                margin: 10px 0;

                &:hover{
                    color: $keyColor;
                    text-decoration: underline;
                }
            }
          
          
        }
    }
}