.navbar{
    height: 75px;
    width: 100%;
    background-color: $backColor;
    border-bottom: 1px solid $keyColor;
    box-shadow: 0 0 10px #000;
    .logo{
            width: 100px;
            height: 60px;
            }
}

.navbar-nav{
    margin-right: 5%;
    a{
        color: $mainFontColor;
        font-weight: $fontBold;
        &:hover{
            color: $mainColor;
            text-decoration: underline;
        }
    }
}

.navbar-collapse{
    background-color: $backColor;
    border-radius: 5px;
    padding: 10px;
}