.promo-header{
    width: 100%;
    height: 300px;
    background-image: url(../img/headers/sanguche_header.jpg);
    .col-12{
        h1{
            background-color: rgba($color: #000000, $alpha: .5);
            width: 100%;
            text-align: center;
            color: $mainColor;
        }
    }
}

.promo{
    width: 80%;
    height: 200px;
    background-color: $mainColor;
    border-radius: 10px;
    border: 1px solid #fff;
    margin: 0 auto;
    .col-12{
        .img-promo{
            width: 200px;
            height: 125px;
            border-radius: 5px;
        }
        .promo-text{
            text-align: center;
        }
    }
}

.promo-price{
    background-color: $secondColor;
    border-radius: 10px;
    color: $mainFontColor;
    font-style: italic;
    font-weight: bold;
}