//Colors
$mainColor: rgb(241, 107, 30);
$secondColor: rgb(2, 2, 31);
$keyColor: orangered;
$backColor: #101010;

//Fonts
$mainFont:'Lato', sans-serif;
$mainFontColor: #fff;
$secondFontCoolor: #000;

//Sizing
$textSm: .5em;
$textMd: 1em;
$textLg: 1.3em;
$textXl: 2em;

//Font Weight
$fontLight: 100;
$fontBold: 600;
$fontRegular: 400;



