//Colors
$mainColor: rgb(241, 107, 30);
$secondColor: rgb(2, 2, 31);
$keyColor: orangered;

//Fonts
$mainFont:'Lato', sans-serif;

//Sizing
$textSm: .5em;
$textMd: 1em;
$textLg: 1.3em;
$textXl: 2em;

//Font Weight
$fontLight: 100;
$fontBold: 600;
$fontRegular: 400;



